<app-navbar (onAddUser)="addUser($event)"></app-navbar>


<div class="search-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="filterValue" (ngModelChange)="applyFilter()" placeholder="Filter by Username" />
  </mat-form-field>
</div>

<div class="table-container">
  <table mat-table [dataSource]="list" class="mat-elevation-z8">
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> S.No </th>
      <td mat-cell *matCellDef="let user"> {{ user.id }} </td>
    </ng-container> -->

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let user"> {{ user.password }} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let user"> {{ user.role }} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button (click)="editUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button (click)="deleteUser(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
